@font-face {
  font-family: "ClassicComic";
  src: url("../fonts/ClassicComic-Bold.woff");
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
:root {
  --main_color: #fff;
  --secondary_color: #000;
}
body {
  background-color: var(--main_color);
  font-family: "ClassicComic"; 
}
a {
  text-decoration: none;
}
.pageWrrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 6rem;
  padding: 2rem 1rem;
  background-image: url("../images/password_chang_bg.png");
  background-size: cover;
  background-position: center center;
}
.pageHeader {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.pageHeader .mdHeading {
  color: #fff;
  font-size: 2.9rem;
  line-height: 1;
}
.headingEvery {
  font-size: 4.5rem;
}
.formContainer {
  max-width: 700px;
  width: 100%;
}
.changePasswordContainer {
  background: #eef1f0;
  padding: 2.5rem 1.5rem;
  border-radius: 29px;
}
.mdHeading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #000201;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}
.input-group {
  margin-bottom: 15px;
  text-align: left; /* Align labels to the left */
}
.input-group .currentPassword {
  display: block;
  margin-bottom: 5px;
}
.input-group .inputArea {
  width: 100%;
  padding: 0.4rem 1rem;
  background: #eebf78;
  border: 2px solid #000201;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000201;
}
.input-group .inputArea::placeholder {
  color: #000201;
}
.mainBtn {
  padding: 0.4rem 2rem;
  background: #eebf78;
  border: 2px solid #000201;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000201;
}

/* Optional: Add hover effect to the button */
button:hover {
  background-color: transparent;
}
.pageFooter {
  width: 100%;
  height: 150px;
  background: #eebf78;
  border: 2px solid #000201;
  border-radius: 42px;
}

@media screen and (max-width: 768px) {
  .pageHeader {
    flex-direction: column;
    row-gap: 0.2rem;
    text-align: center;
  }
  .pageHeader .mdHeading {
    font-size: 1.4rem;
  }
  .pageFooter {
    width: 100%;
    border-radius: 20px;
  }
  .mainBtn {
    padding: 0.4rem 1.3rem;
    border: 1px solid #000201;
    font-size: 1.1rem;
  }
  .input-group .inputArea {
    padding: 0.4rem 0.5rem;
    font-size: 1.1rem;
  }
  .mdHeading {
    font-size: 1.1rem;
  } 
  .pageWrrapper {
    row-gap: 3rem;
    padding: 1.4rem 1rem;
  }
}
